<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %>
<% provide(:title, "Contact") %>
<h1><%= t(".contact") %></h1>
<p>
  <%= t(".railsc") %> <%= link_to "Rails Contact", "https://www.railstutorial.org/contact" %>
</p>